body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
  }
  
  .App {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .form {
    margin-bottom: 20px;
  }
  
  input[type="text"],
  input[type="email"],
  button {
    padding: 5px;
    margin-right: 10px;
  }
  
  button {
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  .user-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
  }
  
  .user-card {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
  }
  
  .user-card:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .user-info {
    margin-bottom: 10px;
  }
  
  .actions {
    display: flex;
    justify-content: space-between;
  }
  
  .actions button {
    padding: 5px 10px;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
 
  .edit-button{
    background-color: #3ecf4a;
  }
  .delete-button{
    background-color: #ee4848;
  }